{erl_opts, [debug_info]}.
{deps, [
    {gun, "1.3.3"},
    {getopt, "1.0.2"},
    {eevm,    {git, "https://github.com/thepower/eevm.git", {branch, "master"}}},
    {certifi, {git, "https://github.com/certifi/erlang-certifi.git", {branch, "master"}}},
    {esha3, {git, "https://github.com/cleverfox/esha3.git", {branch, "master"}}},
    {tplib, {git, "https://github.com/thepower/tplib_erlang.git", {branch, "master"}}},
    {eevm_abi, {git, "https://github.com/cleverfox/eevm_abi.git", {branch, "master"}}},
    {cowboy, "2.9.0"}
]}.
{escript_main_app, tp}.
{minimum_otp_vsn, "24.0"}.

{relx, [{release, {"tpcli", "0.1.0"}, [tp,{tpas,load}]},
        %{release, {<release_name>, <release_vsn>},
        % [<app>]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.


{shell, [
   {config, "config/sys.config"},
    {apps, [tp]}
]}.
